body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/fondo-img.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    color: #333;
    box-sizing: border-box;
    padding-inline: 23rem;
}


.contenedor {
    height: 20rem;
    background: white;
    padding: 30px;
    margin: 20% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeInSlow 2.5s ease-out forwards;
    opacity: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"] {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botones {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #007bff;
    color: white;
    transition: background 0.3s ease;
}

button:hover:not(:disabled) {
    background: #0056b3;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.respuesta {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.info-linea {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 16px;
}

.info-linea strong {
    font-weight: bold;
}

.info-linea span {
    text-align: right;
}

h1,
input,
.botones {
    animation: fadeInSlow 2s ease-out forwards;
    opacity: 0;
}

input {
    animation-delay: 0.5s;
}

.botones {
    animation-delay: 1s;
}

@keyframes fadeInSlow {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-link {
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-link a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #2B2D6E;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.login-link i{
    font-size: 30px;
}