.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #272727;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    text-align: center;
}

.content-wrapper {
    width: 100%;
    padding-block: 2.5rem;
}

.header-top h2 {
    margin-bottom: 20px;
}

.logo-usuario {
    gap: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

.bienvenido {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.menu a:hover {
    color: #0f0f2c;
    background-color: #ffffff;
}

.logout-form {
    text-align: center;
}

.logout-form button {
    background-color: #e74c3c;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 75%;
    transition: background-color 0.3s ease;
}

.logout-form button:hover {
    background-color: #c0392b;
}